DATABASE_URL="mysql://himatif:rootpassword@db:3306/himatif_profile"
DATABASE_USER="himatif"
DATABASE_PASSWORD="rootpassword"
DATABASE_NAME="himatif_profile"
DATABASE_HOST="db"
DATABASE_PORT="3306"

BETTER_AUTH_SECRET="change-me-in-production"
BETTER_AUTH_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME="your name"
CLOUDINARY_API_KEY="your key"
CLOUDINARY_API_SECRET="your secret"