# --- DATABASE CONNECTION (MariaDB / MySQL) ---
DATABASE_URL="mysql://himatif:rootpassword@db:3306/himatif_profile"
DATABASE_USER="himatif"
DATABASE_PASSWORD="rootpassword"
DATABASE_NAME="himatif_profile"
DATABASE_HOST="db"
DATABASE_PORT="3306"

# --- APPLICATION & DOCKER COMPOSE CONFIG ---
APP_PORT=3000
NODE_ENV="production"
PORT=3000
HOST="0.0.0.0"

# --- BETTER-AUTH CONFIGURATION ---
BETTER_AUTH_SECRET="ganti-dengan-string-acak-minimal-32-karakter"
BETTER_AUTH_URL="http://localhost:3000"
ORIGIN="http://localhost:3000"

# --- CLOUDINARY API ---
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# --- DOCKER REGISTRY (Untuk Dokploy Compose Stack) ---
# IMAGE_NAME="registry.example.com/himatif-profile"
# IMAGE_TAG="latest"
