DATABASE_URL="your db url"
DATABASE_USER="your db user"
DATABASE_PASSWORD="your db pass"
DATABASE_NAME="your db name"
DATABASE_HOST="your db host"
DATABASE_PORT="your db port"

BETTER_AUTH_SECRET="auth secret"
BETTER_AUTH_URL="your app url"

CLOUDINARY_CLOUD_NAME="your name"
CLOUDINARY_API_KEY="your key"
CLOUDINARY_API_SECRET="your secret"